Write a function that takes two numbers and prints their sum.

In [1]:
def sum(a,b):
    sum=a+b
    print(sum)
sum(2,5)

7

Write a function that prints the square of a number.

In [3]:
def square(n):
    square=n**2
    print(square)
square(10)

100

Write a function to check if a number is even or odd and print the result.

In [6]:
def even_odd(num):
    if num % 2 == 0:
        print("even")
    else:
        print("odd")
even_odd(5)

odd

Write a function that prints the factorial of a number.

In [13]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    print(fact)
factorial(5)

120

Write a function to find the maximum of three numbers and print it.

In [16]:
def max_of_three(num1,num2,num3):
    if num1>num2 and num2>num3:
        print(num1,"is greater")
    elif num2>num1 and num2>num3:
        print(num2,"is greater")
    else:
        print(num3,"is greater")
max_of_three(5,40,8)

40 is greater

Write a function to count and print the number of vowels in a string.

In [23]:
def vowels(word):
    count = 0
    for i in word:  
        if i in "aeiouAEIOU":  
            print(i)
            count += 1
    print("Total vowels:", count)

vowels('ayesha')

a
e
a
Total vowels: 3

Write a function that takes a list and prints the sum of all elements.

In [27]:
def list_sum(list1):
    total=0
    for i in list1:
        total+=i
    print(total)
list_sum([1,2,3,4])

10

Write a function to reverse a string and print it.

In [30]:
def reverse(string):
    reverse_str =string[::-1]
    print(reverse_str)
reverse('ayesha')

ahseya

Write a function that checks if a string is a palindrome and prints the result.

In [32]:
def palindrome(num1):
    if num1==num1[::-1]:
        print("palindrome")
    else:
        print("not palindrome")
palindrome('mom')

palindrome

Write a function that takes a list and prints only the even numbers.

In [36]:
def only_even(list2):
    for i in list2:  
        if i % 2 != 0:
            continue  
        else:
            print(i)

only_even([1, 2, 3, 4, 5])

2
4

Write a function to calculate and print the area of a circle given its radius.

In [39]:
def circle_radius(radius):
    area=3.14*radius**2
    print(area)
circle_radius(10)

314.0

Write a function that prints the length of a string without using the len() function.

In [42]:
def len_of_string(string):
    count=0
    for i in string:
        count+=1
    print(count)
len_of_string('ayesha')

6

Write a function that accepts any number of arguments and prints their average.

In [43]:
def average(*args):
    if len(args) == 0:
        print("No numbers provided")
    else:
        total = 0
        for num in args:
            total += num
        avg = total / len(args)
        print("Average:", avg)

average(10, 20, 30, 40, 50)

Average: 30.0