What is a data type in Python?

A data type in Python tells what kind of value something is, like a number, text, or list.

List all the data types that we have in Python?

Numeric data types: int, float, complex.
String data types: str.
Sequence types: list, tuple, range.
Mapping data type: dict.
Boolean type: bool.
Set data types: set, frozenset.

What is the difference between mutable and immutable data types?

Immutable data type cannot be changed once declared.
Mutable data types can be changed after declaration.

What is the difference between int, float, and complex?

All there data types are of numeric type
int- it is used only for numeric values
float- it is used for decimal valuess
complex- it is used when real and imaginary values exists.

Which data type is used to represent text in Python?

string is used to represent text in python

What is the output of type(521) and type("521")?

In [2]:
type(521)

int

In [3]:
type("521")

str

What is the difference between list, tuple, and set?

-> list — Ordered, changeable (mutable), allows duplicates.
  Example: [1, 2, 3, 2]

-> tuple — Ordered, unchangeable (immutable), allows duplicates.
  Example: (1, 2, 3, 2)

-> set — Unordered, changeable, does NOT allow duplicates.
  Example: {1, 2, 3}

How is a dictionary different from a list?

-> A list is an ordered collection of values, accessed by their position (index).
  Example: my_list = [10, 20, 30] → my_list[0] gives 10.

-> A dictionary is an unordered collection of key-value pairs, accessed by keys.
  Example: my_dict = {"a": 1, "b": 2} → my_dict["a"] gives 1.

What is the default data type of a number with a decimal point?

The default data type of a number with a decimal point is float.

Declare variables of type int, float, string, and complex.

In [4]:
a=10
b=10.2
c="hello"
d=2+3J
print(a,b,c,d)

10 10.2 hello (2+3j)

Take any 3 datatypes examples and check type of each variable using the type() function.

In [5]:
a=20
type(a)

int

In [6]:
b="ayesha"
type(b)

str

In [7]:
c=6.1
type(c)

float

What happens if you try to add a string and an integer?

In [8]:
x=10
y="hii"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

What is the output of:
x = [1, 2, 3]
y = (1, 2, 3)
z = {1, 2, 3}
print(type(x), type(y), type(z))

In [11]:
x = [1, 2, 3] 
y = (1, 2, 3)
z = {1, 2, 3} 
print(type(x), type(y), type(z))

<class 'list'> <class 'tuple'> <class 'set'>

Can you change a value in a tuple once it is defined? Why or why not?

No, you cannot change a value in a tuple once it is defined, because tuples are immutable in Python.

Is reassignment possible for immutable datatypes?