Add an integer and float. What is the resultâ€™s type?

In [3]:
x=5
y=8.9
z=x+y
print(z)
type(z)

13.9

float

Create a string and access its:
First character
Last character
A substring from index 2 to 5

In [5]:
a="hello world"
print(a[0])
print(a[-1])
print(a[2:5])

h
d
llo

Concatenate two strings and print the result.

In [6]:
a="hello"
b="world"
x=a+b
print(x)

helloworld

Define list. What are the difference between List and Tuple.

An ordered, mutable collection of elements in Python, written with square brackets [ ].
1. Lists are mutable(can be modified).	Tuples are immutable(cannot be modified).
2. list is denoted by Square brackets [ ], whereas tuple is denoted by	Parentheses ( )
3. Both have ordered collection of elements

Write a programme to print a list in reverse order.

In [10]:
a=[1,2,"ayesha","muskan",5.4,6]
print(a[::-1])

[6, 5.4, 'muskan', 'ayesha', 2, 1]

Create a tuple of 4 elements. Print the first and last element.

In [11]:
a=(1,2,3,4)
print(a[0])
print(a[3])

1
4

Try changing a value in a tuple. What happens?

In [12]:
a=(1,2,3,4)
a[1]=8

TypeError: 'tuple' object does not support item assignment

Create a dictionary of 3 students with their marks. Print the dictionary.

In [13]:
student_data={"ayesha":99,"minnie":85,"miccky":96}
print(student_data)

{'ayesha': 99, 'minnie': 85, 'miccky': 96}

Access the marks of one student using their name.

In [15]:
student_data["minnie"]

85

Update the marks of an existing student.

In [18]:
student_data["ayesha"]=88
print(student_data)

{'ayesha': 88, 'minnie': 85, 'miccky': 96, 1: 88}

Can I access a key using a value in a dictionary.

In [ ]:
No, we cannot use a key using a value in dictionary.

 Can I have duplicate values and keys in a dictionary? What happens if I wanted try to duplicate key in a dictionary?

duplicates values are accepted in a dictionary but duplicate keys are not accepted.

In [21]:
student_data

{'ayesha': 88, 'minnie': 85, 'miccky': 96, 1: 88}

In [23]:
student_data["minnie"]=88
print(student_data)

{'ayesha': 88, 'minnie': 88, 'miccky': 96, 1: 88}

In [25]:
key_value={"marks"=100, "marks"=200,"cgpa":2.5}
print(key_value)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1279991126.py, line 1)

Print all multiples of 17 using range. Numbers should start from -34 and end below 400.

In [28]:
print(list(range(-34,400,17)))

[-34, -17, 0, 17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187, 204, 221, 238, 255, 272, 289, 306, 323, 340, 357, 374, 391]