1. What are variables and why are they called variables? Assign two numbers to variables `a` and `b`, and print their sum.

Variables are the containers which stores the values and because of their changing nature they are called variables

In [1]:
a=5
b=10
c=a+b
c

15

2. Write a Python program to subtract two numbers and print the result.

a=10
b=20
c=b-a
c

3. Multiply two variables and store the result in a third variable. Print all three.

In [3]:
a=2
b=3
c=a*b
print(a,b,c)

2 3 6

4. Divide 10 by 3 and print the result with and without decimals.

In [1]:
a=10
b=3
c=a/b
d=a//b

In [3]:
a=10
b=3
c=a/b
print(c,d)

3.3333333333333335 3

5. Use floor division `//` to divide 17 by 4. Print the output.

In [8]:
a=17
b=4
c=a//b
c

4

6. Use the modulo operator `%` to check the remainder when 25 is divided by 6.

In [9]:
a=25
b=6
c=25%6
c

1

7. Calculate and print the square of a number stored in a variable.

In [10]:
a=5
square= a ** 2
square

25

8. Assign values to three variables `x`, `y`, `z` and compute the average.

In [13]:
x,y,z = 1,5,10
avg=(x+y+z)/3
int(avg)

5

9. Take a number and find its cube using the `**` operator.

In [14]:
a=10
cube=a**3
cube

1000

10. Create two variables `length` and `width`. Calculate and print area of a rectangle.

In [15]:
length=8
width=4
area= length* width
area

32

11. Assign a variable `total_marks = 450` and `obtained_marks = 375`. Find percentage.

In [17]:
total_marks=450
obtained_marks=375
per=(obtained_marks /total_marks)* 100
per

83.33333333333334

12. Write a Python statement that calculates `(a + b) * c` for some values of a, b, and c

In [19]:
a = 2
b = 3
c = 4

result = (a + b) * c
result

20

13. Draw and show how reassignment changes variable reference to a memory block.

Step 1: x = 10

    ┌────────────┐
x ─▶│   10       │
    └────────────┘


Step 2: x = 20

    ┌────────────┐         ┌────────────┐
    │   10       │         │   20       │
    └────────────┘         └────────────┘
           ↑                     ↑
         (unused)           x ─▶ memory updated
After reassignment, x points to the new value 20.

The old value 10 is still in memory but no longer referenced by x.

In [20]:
x=10
y=5
x+y

15

In [21]:
x=20
x+y

25